.banner {
    height: 100vh;

    @media screen and (max-width: 768px) {
        height: 90vh;
    };

    .background-image {
        position: absolute;
        inset: 0;
        width: 100%;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        z-index: -1;
        top: 58px;

        @media screen and (max-width: 768px) {
            height: 80%;
        }
    
        &::before {
            content: "";
            width: 100%;
            height: 100%;
            position: absolute;
        }
    
        &_main   {
            background-image: url(https://kartinki.pics/uploads/posts/2021-04/1617313820_4-p-foni-dlya-menyu-5.jpg) !important;
        }
    }

    &__wrapper {
        padding: 235px 0;
    }

    &__heading {
        text-align: center;
    }

    &__greeting {
        h3 {
            font-size: 50px;

            @media screen and (max-width: 768px) {
                font-size: 40px;
            }

            @media screen and (max-width: 420px) {
                font-size: 30px;
            }
        }
    }

    &__title {
        padding: 30px 0;

        h1 {
            font-size: 100px;
            font-family: 'Dancing Script', cursive;

            @media screen and (max-width: 768px) {
                font-size: 80px;
            }

            @media screen and (max-width: 420px) {
                font-size: 60px;
            }
        }
    }

    &__subTitle {
        h2 {
            font-size: 30px;

            @media screen and (max-width: 768px) {
                font-size: 25px;
            }

            @media screen and (max-width: 768px) {
                font-size: 20px;
            }
        }
    }
}

.history {
    &__wrapper {
        text-align: center;

        @media screen and (max-width: 568px) {
            padding: 0;
        }
    }

    &__title {
        padding-top: 50px;

        @media screen and (max-width: 768px) {
            padding-top: 0;
        }

        h2 {
            font-size: 45px;
            font-family: "Dancing Script", cursive;

            @media screen and (max-width: 568px) {
                font-size: 35px;
            }
        }
    }

    &__content {
        padding: 30px 0;

        p {
            font-size: 20px;
            word-spacing: 10px;

            @media screen and (max-width: 768px) {
                font-size: 17px;
            }

            @media screen and (max-width: 568px) {
                font-size: 14px;
                word-spacing: 0;
                line-height: 22px;
            }
        }
    }
}

.specificity {
    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 50px 20px;

        @media screen and (max-width: 768px) {
            display: block;
            padding: 30px 0;
        }
    }

    &__content {
        max-width: 45%;
        text-align: center;
        padding-right: 20px;

        @media screen and (max-width: 768px) {
            max-width: none;
            padding-right: 0;
        }
    }
    
    &__title {
        h3 {
            font-size: 35px;
            font-family: "Dancing Script", cursive;

            @media screen and (max-width: 568px) {
                font-size: 30px;
            }
        }

        h2 {
            font-size: 35px;
            padding: 10px 0;
            font-family: "Dancing Script", cursive;

            @media screen and (max-width: 568px) {
                font-size: 25px;
            }
        }
    }

    &__text {
        font-size: 20px;
        padding: 30px 0;
        word-spacing: 10px;

        @media screen and (max-width: 768px) {
            font-size: 17px;
        }

        @media screen and (max-width: 568px) {
            font-size: 14px;
            word-spacing: 0;
            line-height: 22px;
        }
    }

    &__image {
        max-width: 500px;
        max-height: 500px;

        @media screen and (max-width: 768px) {
            max-width: 400px;
            max-height: none;
            margin: 0 auto;
        }

        img {
            width: 100%;
        }
    }
}    

.contacts {
    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px;

        @media screen and (max-width: 768px) {
            display: flex;
            flex-direction: column-reverse;
            padding: 20px 0;
        }
    }

    &__image {
        max-width: 500px;
        max-height: 500px;

        @media screen and (max-width: 768px) {
            max-width: 400px;
            max-height: none;
            margin: 0 auto;
            padding-bottom: 20px;
        }

        img {
            width: 100%;
        }
    }

    &__content {
        max-width: 45%;
        text-align: center;
        padding-left: 20px;

        @media screen and (max-width: 768px) {
            max-width: none;
            padding-left: 0;
        }
    }

    &__title {
        h2 {
            font-size: 45px;
            font-family: "Dancing Script", cursive;

            @media screen and (max-width: 568px) {
                font-size: 35px;
            }
        }
    }

    &__text {
        font-size: 20px;
        padding: 30px 0;
        word-spacing: 10px;

        @media screen and (max-width: 768px) {
            font-size: 17px;
        }

        @media screen and (max-width: 568px) {
            font-size: 14px;
            word-spacing: 0;
            line-height: 22px;
        }
    }
}

.staff {
    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px;

        @media screen and (max-width: 768px) {
            display: block;
            padding: 20px 0;
        }
    }

    &__content {
        max-width: 45%;
        text-align: center;
        padding-right: 20px;

        @media screen and (max-width: 768px) {
            max-width: none;
            padding-right: 0;
        }
    }

    &__title {
        h3 {
            font-size: 35px;
            font-family: "Dancing Script", cursive;

            @media screen and (max-width: 568px) {
                font-size: 30px;
            }
        }

        h2 {
            padding: 10px 0;
            font-family: "Dancing Script", cursive;
        }
    }

    &__text {
        font-size: 20px;
        padding: 30px 0;
        word-spacing: 10px;

        @media screen and (max-width: 768px) {
            font-size: 17px;
        }

        @media screen and (max-width: 568px) {
            font-size: 14px;
            word-spacing: 0;
            line-height: 22px;
        }
    }

    &__image {
        max-width: 400px;
        max-height: 400px;

        @media screen and (max-width: 768px) {
            max-width: 300px;
            max-height: none;
            margin: 0 auto;
        }

        img {
            width: 100%;
        }
    }
}