.delivery {

    &__wrapper {
        padding: 70px 20px;
        text-align: center;
    }

    &__heading{
        padding: 30px 0;

        h2 {
            font-size: 55px;
            font-family: "Dancing Script", cursive;
        }
    }

    &__text {
        line-height: 32px;

        p {
            font-size: 20px;
        }

        &__list {
            font-size: 20px;
            word-spacing: 10px;
        }
    }

    &__title {
        padding: 50px 0 20px 0;

        h3 {
            font-size: 40px;
            font-family: "Dancing Script", cursive;
        }
    }

    &__list {
        li {
            font-size: 20px;
        }
    }
}