.cards {
    &__container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
}

.card {
    &__container {
        padding-top: 100px;
    }

    &__wrapper {
        max-width: 80%;
        margin: 0 auto;
        padding: 20px;
        border: 2px solid white;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        text-align: center;
    }

    &__name {

        padding: 15px 0;

        span {
            font-size: 17px;
        }
    }

    &__ingredients {

        padding: 15px 0;

        p {
            font-size: 15px;
        }
    }

    &__image {
        max-width: 150px;
        margin: 0 auto;

        img {
            width: 100%;
            
        }
    }

    &__footer {
        padding: 15px 0;
        display: flex;
        justify-content: space-around;
    }

    &__btn {
        border: 1px solid white;
        border-radius: 8px;
        width: 50px;
        cursor: poiner;

        &:hover {
            background-color: #003cd4;
        }

        button {
            color: white;
        }
    }
}