.header {
    &__logo {
        padding: 9px 30px 9px 0;

        @media screen and (max-width: 768px) {
            padding: 0;
        }
    }

    .logo {
        font-size: 35px;
        font-family: "Dancing Script", cursive;
        border-bottom: 1px solid #fff;

        @media screen and (max-width: 768px) {
            font-size: 30px;
        }

        @media screen and (max-width: 420px) {
            font-size: 27px;
        }
    } 

    &__wrapper {
        width: 100%;
        padding: 0 20px;
        display: flex;
        justify-content: space-around;
        align-items: center;

        @media screen and (max-width: 768px) {
            padding: 80px 10px 50px 10px;
        }

        @media screen and (max-width: 360px) {
            justify-content: space-between;
        }
    }

    &__nav {
        @media screen and (max-width: 768px) {
            position: fixed;
            top: 0;
            background-color: black;
            width: 100%;
            left: 0;
            padding: 20px 10px;
            z-index: 20;
            display: flex;
            justify-content: center;
        }
    }

    &__menu {
        display: flex;
        justify-content: space-between;
        margin: 20px 0;

        li {
            padding-right: 30px;

            @media screen and (max-width: 768px) {
                padding: 0 15px;
            }

            @media screen and (max-width: 685px) {
                padding: 0 10px;
            }

            a {
                font-size: 20px;
                color: white;
                transition: all 0.5s ease;
                border-bottom: 1px solid transparent;

                @media screen and (max-width: 768px) {
                    font-size: 18px;
                }

                @media screen and (max-width: 420px) {
                    font-size: 16px;
                }

                &:hover {
                    border-bottom: 1px solid #fff;
                }
            }
        }
    }

    .cart {
        background-color: black;
        border: 1px solid white;
        border-radius: 10px;
        transition: all 0.5s ease;

        &:hover {
            background-color: rgb(105, 105, 105);
        }

        &__button {
            padding: 5px 10px;
            display: flex;
            align-items: center;
            transition: all 0.5s ease;
        }

        &__image {
            width: 30px;
            margin-right: 10px;

            @media screen and (max-width: 420px) {
                width: 25px;
            }

            img {
                max-width: 100%;
                display: block;
            }
        }

        &__title {
            span {
                color: #fff;
                font-size: 18px;
            }
        }
    }
}