.checkout {
    &__wrapper {
        padding: 100px 0;
        display: flex;
        gap: 100px;
    }

    &__title {
        padding-bottom: 20px;
        
        h3 {
            font-size: 30px;
        }
    }

    &__form {
        display: flex;
        flex-direction: column;

        &-wrap {
            padding: 10px 40px 40px 40px;
            border: 2px solid white;
            border-radius: 30px;
        }

        input {
            border-radius: 10px;
            padding: 5px 8px;
        }
    }

    &__label {
        padding: 18px 0 7px 0;
        font-size: 15px;
    }

    &__block {
        width: 100%;

        &-title {
            padding: 40px 0 20px 0;
    
            h4 {
                font-size: 25px;
            }
        }

        &-list-item {
            padding: 15px 0;
            display: grid;
            grid-template-columns: 70% 10% 20%;
            align-items: center;
            justify-items: center;

            span {
                font-size: 17px;
                font-weight: 500;
            }

            &-name {
                margin-right: auto;
            }

            &-count,
            &-price {
                margin-left: auto;
            }
        }
        
        &-totalPrice {
            display: flex;
            justify-content: space-around;
            align-items: center;
            padding: 40px 0;

            &-title {
                font-size: 22px;
            }

            &-value {
                font-size: 22px;
            }
        }

        &-btn-container {
            display: flex;
            justify-content: center;
    
            button {
                width: 100px;
                padding: 5px 0;
                background-color: #cf3432;
                border: 1px solid white;
                border-radius: 8px;
                font-size: 20px;
                color: white;
                transition: transform 0.3s ease;
                text-align: center;
    
                &:hover {
                    cursor: pointer;
                    transform: scale(1.1);
                }
            }
        }
    }
}

.checkout__modal {
    display: none;
    overflow: hidden;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 25;

    &-container {
        width: 400px;
        background-color: white; 
    }

    &-wrapper {
        padding: 40px 30px;
    }

    &-btn-cont {
        display: flex;
        justify-content: end;
    }

    &-btn {
        width: 25px;
        height: 2px;
        cursor: pointer;
        position: relative;
        bottom: 10px;
    
        &::after, 
        &::before {
            content: "";
            position: absolute;
            background-color: black;
            width: 3px;
            height: 20px;
            -webkit-transition: all 0.5s ease-in-out;
            -moz-transition: all 0.5s ease-in-out;
            -o-transition: all 0.5s ease-in-out;
            -ms-transition: all 0.5s ease-in-out;
            transition: all 0.5s ease-in-out;
        }
        
        &::before {
            transform: rotate(45deg);
        }
        
        &::after {
            transform: rotate(-45deg);
        }
    }

    &-text-cont {
        padding: 20px 0;
        text-align: center;

        .title {
            span {
                color: black;
                font-size: 18px;
                font-weight: 900;
            }
        }

        .subtitle {
            padding: 20px 0;

            span {
                color: black;
                font-size: 16px;
                font-weight: 500;
            }
        }

        .text {
            span {
                color: black;
                font-size: 16px;
                font-weight: 500;
            }
        }
    }
}

.overlayCheckout {
    display: none;
    position: fixed;
    z-index: 20;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.checkout__modal-open {
    overflow: hidden;
}